
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
article{
    width: 350px;
    margin: 20px;
}

body {
    background-color: #fff;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}