.card-container-en-filas{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.card-container-en-columnas {

    display: flex;
    flex-direction: column;

}

.headercito {
    display: flex;
    justify-content: space-between;
    padding-left: 4.4%;
    padding-right: 4.4%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: violet;
    border-radius: 10px 10px 10px 10px;
    margin-left: 4.4%;
    margin-right: 4.4%;
}

i {
    margin-right: 10px;
}

i:hover{
    color: grey;
    cursor: pointer;
}
