.card-container-en-filas{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #7f052a;
    border-radius: 5px 5px 0px 0px;
}

.card-container-en-columnas {

    display: flex;
    flex-direction: column;
    background-color: #7f052a;
    border-radius: 5px 5px 0px 0px;
}


.headercito {
    display: flex;
    justify-content: space-between;
    padding-left: 4.4%;
    padding-right: 4.4%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #7f052a;
    border-radius: 5px 5px 5px 5px;
   
}

i {
    margin-right: 10px;
    color: white;
}

i:hover{
    color: grey;
    cursor: pointer;
}

.cargar-mas {
    display: flex;
    justify-content: center;
    background-color: #7f052a;
    border-radius: 0px 0px 5px 5px;
}

.cargar-mas button {
    padding: 10px;
    background-color: #b26362;
    border-radius: 10px 10px 10px 10px;
    color: black;
    margin: 15px;
}
.fa-search{
    margin-right: 3px;
    margin-left: 3px;
}
