.team{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #7f052a;
    border-radius: 5px 5px 5px 5px;
    font-size: 30px;
}